# Gradle, Java, and Forge
.gradle/
build/
bin/
out/
__pycache__/
*.py[cod]
*.class
eclipse/
run/
logs/
forge*changelog.txt
/release/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project

# Editors and operating systems
.DS_Store
.idea/
.vscode/
*.ipr
*.iws
*.iml
*.swp
*~
